@font-face {
  font-family: 'icomoon';
  src: url($fontsPath + 'icomoon/icomoon.eot');
  src: url($fontsPath + 'icomoon/icomoon.eot?#iefix') format('embedded-opentype'),
  url($fontsPath + 'icomoon/icomoon.woff') format('woff'),
  url($fontsPath + 'icomoon/icomoon.ttf') format('truetype'),
  url($fontsPath + 'icomoon/icomoon.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'HelveticaNeueCyr';
  src: url($fontsPath + 'HelveticaNeueCyr/HelveticaNeueCyr-Light.eot');
  src: url($fontsPath + 'HelveticaNeueCyr/HelveticaNeueCyr-Light.eot?#iefix') format('embedded-opentype'),
  url($fontsPath + 'HelveticaNeueCyr/HelveticaNeueCyr-Light.woff') format('woff'),
  url($fontsPath + 'HelveticaNeueCyr/HelveticaNeueCyr-Light.ttf') format('truetype'),
  url($fontsPath + 'HelveticaNeueCyr/HelveticaNeueCyr-Light.svg') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument';
  src: url($fontsPath + 'Monument/MonumentRegular.eot');
  src: url($fontsPath + 'Monument/MonumentRegular.eot?#iefix') format('embedded-opentype'),
  url($fontsPath + 'Monument/MonumentRegular.woff') format('woff'),
  url($fontsPath + 'Monument/MonumentRegular.ttf') format('truetype'),
  url($fontsPath + 'Monument/MonumentRegular.svg') format('svg');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Monument';
  src: url($fontsPath + 'Monument/MonumentUltrabold.eot');
  src: url($fontsPath + 'Monument/MonumentUltrabold.eot?#iefix') format('embedded-opentype'),
  url($fontsPath + 'Monument/MonumentUltrabold.woff') format('woff'),
  url($fontsPath + 'Monument/MonumentUltrabold.ttf') format('truetype'),
  url($fontsPath + 'Monument/MonumentUltrabold.svg') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}