[class^="icon-"],
[class*=" icon-"] {
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon {
  font-size: 25px;
  transition: opacity 2.3s ease;
  &--sm {
    font-size: 18px;
  }
}

.icon-linkedin:before {
  content: "\e900";
}
.icon-instagram:before {
  content: "\e901";
}
.icon-gmail:before {
  content: "\e902";
}
.icon-mail:before {
  content: "\e903";
}
.icon-sport-team:before {
  content: "\e904";
}
.icon-thunder:before {
  content: "\e905";
}
.icon-user:before {
  content: "\e906";
}
.icon-home-run:before {
  content: "\e907";
}
