.page-skills {
  &__wrapper {
  padding: 0;
  }
}

@for $i from 1 through 25 {
  .star:nth-of-type(#{$i}) {
    left: random(100) + vw;
    top: random(50) + vw;
  }
}

@mixin planet-mark($pcolor,
$scolor,
$per) {
  box-shadow: 1em 0 0 random(6) + px $pcolor, 1.1em*$per 2.2em*$per 0px random(6) + px $scolor, 2.5em*$per 0.5em*$per 1px 5px $scolor, 2.5em*$per 3em*$per 0 random(6) + px $pcolor, -0.5em*$per 2em*$per 0 random(6) + px $pcolor, 2.5em*$per 3em*$per 0 random(6) + px $pcolor, 0em*$per 5em*$per 0 random(6) + px $scolor, -5em*$per 8em*$per 0 random(6) + px $scolor, -6em*$per 9em*$per 0 random(6) + px $pcolor, 4em*$per 5em*$per 0 random(6) + px $pcolor;
}

// PLANET GENERATION
@mixin planet($width,
$height) {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: $width;
  height: 0;
  padding-bottom: $height;
  border-radius: 50%;
}

.container {
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-wrap: wrap;
  padding: 0;
  &:before {
    content: '';
    display: block;
    height: 0;
    padding-bottom: 37%;
    width: 37%;
    background: #ff9933;
    position: absolute;
    left: -36%;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 50%;
    box-shadow: 20px 0 150px 20px #ff8000;
  }
  .star {
    background: #fff;
    height: .3vh;
    width: .3vh;
    position: absolute;
    opacity: 1;
    z-index: 0;
  }
  .section {
    flex-grow: 1;
    position: relative;
    height: 100%;
    transition: all 0.4s;
    text-align: center;
    flex-shrink: 0;
    .cplanet {
      transition: all 0.3s;
      will-change: trasform;
      .planet {
        overflow: hidden;
        will-change: auto;
        border-radius: 50%;
        transition: box-shadow 0.3s;
        &:after,
        &:before {
          visibility: hidden;
        }
      }
    }
    .desc {
      position: absolute;
      width: 24vw;
      height: 24vw;
      margin: auto;
      top: 0;
      bottom: 0;
      margin-left: 55%;
      overflow: hidden;
      &:after {
        position: absolute;
        width: 90%;
        height: 100%;
        color: white;
        padding: 10px;
        left: 0;
        margin: 0;
        text-align: justify;
        font-size: 0.7vw;
        padding-top: 100%;
        z-index: 1;
        line-height: em(24);
      }
    }
    .planetname {
      position: absolute;
      width: 90%;
      height: 0;
      padding-bottom: 90%;
      margin: auto;
      left: 0;
      right: 0;
      bottom: 80%;
      visibility: hidden;
      .line {
        position: absolute;
        width: 1px;
        height: 10vh;
        margin-left: -65%;
        background: rgba(255, 255, 255, 0.5);
        bottom: 0;
        z-index: 1;
        &:after {
          display: block;
          color: white;
          position: absolute;
          width: 20%;
          top: -45%;
          padding-left: 0px;
          font-size: 0.9vw;
        }
      }
    }
    @for $i from 1 through 8 {
      &:nth-child(#{$i}) {
        .planet {
          box-shadow: 1em 0em $i*0.22em 0 rgba(#ffffcc, (9-$i)*0.08) inset;
        }
      }
    }
    &:hover {
      flex-grow: 9;
      transition: all 1.5s;
      background: rgba(255, 255, 255, 0.1);
      .cplanet {
        transform: translateX(-11vw) !important;
        transition: all 0.4s;
        transition-delay: 0.5s;
        .planetname {
          visibility: visible;
        }
      }
      .planet {
        box-shadow: 0 0 1em -0.35em rgba(#fff, .2), 0 -1em 1.1em 0 rgba(#444, .4) inset, 0 0 2.5em 0 rgba(#000, .4) inset;
        transition: all 0.4s;
        &:after,
        &:before {
          visibility: visible;
        }
      }
      .desc:after {
        padding-top: 6%;
        transition: padding-top 1.5s ease-in;
      }
    }
    &:nth-child(1) {
      .desc:after {
        content: "I am for performance, simplicity and integrity in my work. I'm a stickler for a slick build process, whether that's unit testing, linting integrations, tree shaking and so on. \a I also write CSS modules mainly in Stylus and SCSS.";
        white-space: pre-wrap;
      }
      .cplanet {
        @include planet(6%,
        6%);
        .planetname {
          .line:after {
            content: 'HTML/CSS';
          }
        }
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #82401f;
        &:after {
          content: '';
          display: block;
          border-radius: 10px;
          @include planet-mark(#513021,
          rgba(81,
          48,
          33,
          0.8),
          1);
          content: " ";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 6px;
          height: 3px;
          background: none;
        }
      }
    }
    &:nth-child(2) {
      .desc:after {
        content: "I build both small and large scale web applications in JavaScript daily for websites or server. Combined UX and design I can take applications from start to finish. /a I can also provide consulting and advice on solutions.On the web, I work with both vanilla and framework-based applications with strong capabilities in popular framework VueJs and web technologies such as GSAP.";
        white-space: pre-wrap;
      }
      .cplanet {
        @include planet(18%,
        18%);
        .planetname {
          .line:after {
            content: 'JS/jQuery';
          }
        }
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #AD946E;
        &:after {
          content: '';
          display: block;
          border-radius: 50% 10px 20% 10px;
          @include planet-mark(#8c7046,
          rgba(255,
          255,
          255,
          0.1),
          2.2);
          content: " ";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 100%;
          height: 10%;
          background: none;
          z-index: 1;
        }
      }
    }
    &:nth-child(3) {
      .desc:after {
        content: "";
 white-space: pre-wrap;
      }
      &:hover {
        .planet:after {
          zoom: 2;
        }
        .ccmoon {
          transform: translateX(-11vw);
        }
      }
      .cplanet {
        @include planet(18%,
        18%);
        .planetname {
          .line:after {
            content: 'Fremework Vue';
          }
        }
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        background: #6FC0E4;
        &:after {
          content: 'I use VueJS when you need something more than a simple site. VueJS is used precisely for what he thought, to perform actions on the client side without unnecessary access to the remote server';
          display: block;
          border-radius: 6px;
          position: absolute;
          top: 0px;
          left: 0px;
          width: 16px;
          height: 10px;
          background: none;
          z-index: 1;
          animation: world-animation 14s linear 0s infinite;
        }
      }
      .ccmoon {
        position: absolute;
        width: 37%;
        height: 0;
        padding-bottom: 37%;
        margin: auto;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        .cmoon {
          position: absolute;
          width: 100%;
          height: 100%;
          transform-origin: center center;
          animation: moon 10s linear infinite;
          .moon {
            margin: 10px !important;
            @include planet(7%,
            7%);
            background: #777;
            box-shadow: 1em 0em 1em 0 rgba(#ffffcc, 0.50) inset;
          }
        }
      }
    }
    &:nth-child(4) {
      .desc:after {
        content: 'WordPress is perfect for creating and developing a personal blog or website. It has no rivals in terms of ease of use.';
        white-space: pre-wrap;
      }
      .cplanet {
        @include planet(12%,
        12%);
        .planetname {
          .line:after {
            content: 'WordPress';
          }
        }
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #D34737;
        &:after {
          content: '';
          display: block;
          border-radius: 10px;
          @include planet-mark(#8e2625,
          rgba(162,
          44,
          42,
          0.8),
          1);
          content: " ";
          position: absolute;
          top: 0px;
          left: 0px;
          width: 10px;
          height: 7px;
          background: none;
          z-index: 1;
        }
      }
    }
    &:nth-child(5) {
      &:hover {
        .cplanet {
          width: 20vw;
          padding-bottom: 20vw;
        }
      }
      .cplanet {
        @include planet(55%,
        55%);
        .planetname {
          .line:after {
            content: 'Animation';
          }
        }
      }
      .desc:after {
        content: 'Beautiful animation on the site can not only improve the display, but also transform it. I use GSAP, anime.js and WOW animation for website';
        white-space: pre-wrap;
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        background: -webkit-linear-gradient(#B2927B, #b6512f, #B2927B, rgba(255, 255, 255, 0.8), #B2927B, #B2927B);
        background: -o-linear-gradient(#B2927B, #b6512f, #B2927B, rgba(255, 255, 255, 0.8), #B2927B, #B2927B);
        background: -moz-linear-gradient(#B2927B, #b6512f, #B2927B, rgba(255, 255, 255, 0.8), #B2927B, #B2927B);
        background: linear-gradient(#B2927B, #b6512f, #B2927B, rgba(255, 255, 255, 0.8), #B2927B, #B2927B);
      }
    }
    &:nth-child(6) {
      .desc:after {
        content: "The speed and performance of sites is very important to users. If your site is too slow, you will not only lose visitors, but also potential customers. I try to optimize all web sites and web applications to speed up zugrazki. Such as Google, take into account the speed of the website in the search ranking.";
        white-space: pre-wrap;
      }
      &:hover {
        .cplanet {
          width: 20vw;
          padding-bottom: 20vw;
        }
        &:after,
        &:before {
          transform: translateX(-11vw) rotateZ(-20deg) !important;
          width: 40vw;
          transition: all 0.4s;
          transition-delay: 0.5s;
        }
      }
      .cplanet {
        @include planet(41%,
        41%);
        .planetname {
          .line:after {
            content: 'Web Perfomance';
          }
        }
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateZ(-20deg);
        background: -webkit-linear-gradient(#F4C494, #e09c85, #F5D9A9, #998b66, #9B897B);
        background: -o-linear-gradient(#F4C494, #e09c85, #F5D9A9, #998b66, #9B897B);
        background: -moz-linear-gradient(#F4C494, #e09c85, #F5D9A9, #998b66, #9B897B);
        background: linear-gradient(#F4C494, #e09c85, #F5D9A9, #998b66, #9B897B);
      }
      &:after {
        content: '';
        display: block;
        transform: rotateZ(-20deg) rotateX(40deg);
        position: absolute;
        border-radius: 50%;
        border-bottom: 15px solid rgba(255, 255, 255, 0.7);
        border-left: 13px solid rgba(255, 255, 255, 0.6);
        border-right: 13px solid rgba(255, 255, 255, 0.55);
        transition: all 0.3s;
        width: 76%;
        height: 4.5vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        border: 15px solid rgba(255, 255, 255, 0.6);
        transition: all 0.3s;
        transform: rotateZ(-20deg) rotateX(40deg);
        width: 80%;
        height: 4.5vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    &:nth-child(7) {
      .desc:after {
        content: 'To speed up the development of the site, I use the project builder Gulp, preprocessors for CSS like Stylus and SCSS. Use Visual Studio Code and also IDE.';
        white-space: pre-wrap;
      }
      &:hover {
        &:after,
        &:before {
          transform: translateX(-11vw) rotateZ(-20deg) !important;
          transition: all 0.4s;
          transition-delay: 0.5s;
        }
      }
      .cplanet {
        @include planet(25%,
        25%);
        .planetname {
          .line:after {
            content: 'Development Tools';
          }
        }
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateZ(-20deg) translateX(0vw);
        background: -webkit-linear-gradient(#99E8EC, #19BDBA, #99E8EC, #19BDBA, #99E8EC);
        background: -o-linear-gradient(#99E8EC, #19BDBA, #99E8EC, #19BDBA, #99E8EC);
        background: -moz-linear-gradient(#99E8EC, #19BDBA, #99E8EC, #19BDBA, #99E8EC);
        background: linear-gradient(#99E8EC, #19BDBA, #99E8EC, #19BDBA, #99E8EC);
      }
      &:after {
        content: '';
        display: block;
        transform: rotateZ(-20deg) rotateX(40deg);
        position: absolute;
        border-radius: 50%;
        border-bottom: 7px solid rgba(255, 255, 255, 0.7);
        width: 40%;
        height: 3.5vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
      &:before {
        content: '';
        display: block;
        position: absolute;
        border-radius: 50%;
        border: 2px solid rgba(255, 255, 255, 0.7);
        transform: rotateZ(-20deg) rotateX(40deg);
        width: 40%;
        height: 3.5vw;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
      }
    }
    &:nth-child(8) {
      .desc:after {
        content: 'Constantly improving my skills. At the moment I am improving my skills in MongoDB, Mongoose, Node.js';
 white-space: pre-wrap;
      }
      .cplanet {
        @include planet(22%,
        22%);
        .planetname {
          .line:after {
            content: 'Grind Away';
          }
        }
      }
      .planet {
        position: absolute;
        width: 100%;
        height: 100%;
        transform: rotateZ(20deg) translateX(0vw);
        background: -webkit-linear-gradient(#384EC7, #2F3893, #384EC7, #2F3893, #384EC7);
        background: -o-linear-gradient(#384EC7, #2F3893, #384EC7, #2F3893, #384EC7);
        background: -moz-linear-gradient(#384EC7, #2F3893, #384EC7, #2F3893, #384EC7);
        background: linear-gradient(#384EC7, #2F3893, #384EC7, #2F3893, #384EC7);
      }
    }
  }
}

@keyframes world-animation {
  0% {
    box-shadow: -253px 16px 0 0 rgba(255, 255, 255, 0.8), -213px 41px 0 1px rgba(255, 255, 255, 0.8), -191px -1px 0 0 rgba(255, 255, 255, 0.8), -160px 59px 0 -2px rgba(255, 255, 255, 0.8), -226px 83px 0 3px rgba(255, 255, 255, 0.8), -109px 32px 0 0 rgba(255, 255, 255, 0.8), -90px 89px 0 1px rgba(255, 255, 255, 0.8), -160px 110px 0 -2px rgba(255, 255, 255, 0.8), -53px 16px 0 0 rgba(255, 255, 255, 0.8), -13px 41px 0 1px rgba(255, 255, 255, 0.8), 9px -1px 0 0 rgba(255, 255, 255, 0.8), 40px 59px 0 -2px rgba(255, 255, 255, 0.8), -26px 83px 0 3px rgba(255, 255, 255, 0.8), 91px 32px 0 0 rgba(255, 255, 255, 0.8), 110px 89px 0 1px rgba(255, 255, 255, 0.8), 40px 110px 0 -2px rgba(255, 255, 255, 0.8), 0 10px 0 3px #81c763, 6px 10px 0 3px #81c763, 3px 20px 0 -4px #81c763, 3px 24px 0 -2px #81c763, 9px 24px 0 -2px #81c763, -20px 50px 0 -2px #81c763, 30px 78px 0 2px #81c763, 74px 108px 0 -2px #81c763, 60px 32px 0 -3px #81c763, 85px 69px 0 0 #81c763, 100px 0 0 0 #81c763, 140px 42px 0 0 #81c763, 143px 32px 0 -4px #81c763, 220px 10px 0 3px #81c763, 226px 10px 0 3px #81c763, 223px 20px 0 -4px #81c763, 223px 24px 0 -2px #81c763, 229px 24px 0 -2px #81c763, 200px 50px 0 -2px #81c763, 250px 78px 0 2px #81c763, 294px 108px 0 -2px #81c763, 280px 32px 0 -3px #81c763, 305px 69px 0 0 #81c763, 300px 0 0 0 #81c763, 360px 42px 0 0 #81c763, 363px 32px 0 -4px #81c763;
  }
  100% {
    box-shadow: -53px 16px 0 0 rgba(255, 255, 255, 0.8), -13px 41px 0 1px rgba(255, 255, 255, 0.8), 9px -1px 0 0 rgba(255, 255, 255, 0.8), 40px 59px 0 -2px rgba(255, 255, 255, 0.8), -26px 83px 0 3px rgba(255, 255, 255, 0.8), 91px 32px 0 0 rgba(255, 255, 255, 0.8), 110px 89px 0 1px rgba(255, 255, 255, 0.8), 40px 110px 0 -2px rgba(255, 255, 255, 0.8), 147px 16px 0 0 rgba(255, 255, 255, 0.8), 187px 41px 0 1px rgba(255, 255, 255, 0.8), 209px -1px 0 0 rgba(255, 255, 255, 0.8), 240px 59px 0 -2px rgba(255, 255, 255, 0.8), 174px 83px 0 3px rgba(255, 255, 255, 0.8), 291px 32px 0 0 rgba(255, 255, 255, 0.8), 310px 89px 0 1px rgba(255, 255, 255, 0.8), 240px 110px 0 -2px rgba(255, 255, 255, 0.8), -220px 10px 0 3px #81c763, -214px 10px 0 3px #81c763, -217px 20px 0 -4px #81c763, -217px 24px 0 -2px #81c763, -211px 24px 0 -2px #81c763, -240px 50px 0 -2px #81c763, -190px 78px 0 2px #81c763, -146px 108px 0 -2px #81c763, -160px 32px 0 -3px #81c763, -135px 69px 0 0 #81c763, -120px 0 0 0 #81c763, -80px 42px 0 0 #81c763, -77px 32px 0 -4px #81c763, 0 10px 0 3px #81c763, 6px 10px 0 3px #81c763, 3px 20px 0 -4px #81c763, 3px 24px 0 -2px #81c763, 9px 24px 0 -2px #81c763, -20px 50px 0 -2px #81c763, 30px 78px 0 2px #81c763, 74px 108px 0 -2px #81c763, 60px 32px 0 -3px #81c763, 85px 69px 0 0 #81c763, 100px 0 0 0 #81c763, 140px 42px 0 0 #81c763, 143px 32px 0 -4px #81c763;
  }
}

@keyframes moon {
  to {
    transform: rotateZ(360deg);
  }
}