.header {
  position: fixed;
  width: em(60);
  height: 100%;
  background: $black-2;
  top: 0;
  left: 0;
  z-index: 1;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: em(15) 0;
  }
  &.fadeInLeft {
    animation: 1s fadeInLeft;
    }
}
.logotype {
  svg {
    position: relative;
    width: em(56);
    height: em(50);
    left: em(2);
  }
  path {
    fill: $white;
  }
  a {
    display: block;
  }
}

.nav__menu {
  &--item {
    margin: em(15) 0;
  }
  &--link {
    display: block;
    position: relative;
    padding: em(8);
    &:hover {
      .icon {
        color: $blueHover;
      }
      .helper {
        opacity: 1;
      }
    }
  }
  
}

.social {
  &__menu {
    &--item {
      margin-top: em(5);
    }
    &--link {
      display: block;
      position: relative;
      padding: em(11);
      &:hover {
        .icon {
          color: $blueHover;
        }
        .helper {
          opacity: 1;
        }
      }
    }
  }
}